/* ================= MEDIA QUERIES ================= */

@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .hero-text, .hero-img {
    max-width: 100%;
  }

  .about, .why, .newsletter {
    flex-direction: column;
    text-align: center;
  }

  .about-text, .why-text, .newsletter-form {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .course-list {
    grid-template-columns: 1fr 1fr;
  }

  .testimonial-list {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .course-list {
    grid-template-columns: 1fr;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .challenges h2 {
    font-size: 2rem;
  }
}
