* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility reuse */
.container {
    width: 90%;
    margin: 0% auto;
}

/* header start */
#header {
    height: 600px;
    background-color: black;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

.logo {
    font-size: 20px;
    color: rgb(151, 245, 29);
}

.list-ul .nav-list {
    display: inline-block;
    margin-right: 50px;
}

.nav-list .nav-a {
    font-size: 17px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Oswald";
    text-decoration: none;
}

.logo-2 {
    font-size: 20px;
    color: rgb(151, 245, 29);
}

.h2-UI {
    font-size: 132px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Krub";
}

.h4-beginners {
    font-size: 40px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Krub";
    padding: 10px;
    transform: rotate(90deg);
    transform-origin: left top;
}
.edition .container-1 {
    height: 20px;
    width: 30px;
    font-size: 17px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Krub"
    display: inline-block;
    margin: 20px auto;
    text-align: right;
}

.p-subtitle-1 {
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Krub"
    display: inline-block;
    margin: 20px auto;
    transform-origin: right top;
    text-align: right;
}

.p-body-text {
    font-size: 14px;
    width: 300px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Krub"
    display: inline-block;
    margin: 10px auto;
    text-align: left;
    line-height: 27px;
}

.btn-1 {
    margin: auto 20px;
    display: flex;
    justify-content: right;
}

.btn-1 .header-btn {
    font-size: 12px;
    color: #f0e5df;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    background-color: rebeccapurple;
    padding: 10px 20px;
}

.btn-1 .header-btn-1 {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: transparent;
    font-weight: 700;
    border: none;
    font-family: "Oswald";
    padding: 10px 20px;
}

/* .pro-designer {
    font-size: 14px;
    line-height: 26px;
    margin: 10px 0px 0px 0px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Krub";
} */

/* header end */