* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR";
}

/* Navbar */
.navbar {
  background-color: rgb(122, 3, 3);
  display: flex;
  align-items: center;
  padding: 15px 40px;
}

.navbar .logo {
  font-size: 24px;
  color: white;
  padding: 0 480px 0 10px;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar .nav-links a:hover {
  text-decoration: underline;
}

/* Content Section */
.content {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  gap: 20px;
}

.column {
  flex: 1;
  padding: 20px;
  border: 1px solid #0f0f0f;
  border-radius: 8px;
  background-color: #f8f405;
}

.column h2 {
  margin-bottom: 10px;
  color: #3009da;
}
.column p {
  color: rgb(233, 7, 7);
}

/* Footer */
.footer {
  background-color: #06aaf7;
  color: rgb(12, 1, 1);
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
}
